
body{
    margin:0;
    padding:0;
}
header{
    background-color:#4CAF50;
    color:white;
    text-align:center;
    padding:10px 0; 
}
.project-card img{
    width:350px;
    height:auto;


}
.project-card{
    background-color:rgb rgb(168, 164, 164);
    border:1px solid #c4c1c1;
    border-radius:5px;
    padding:10px;
    margin:10px;
    text-align:center;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}
h3{
    display:inline-block;
}
.pros {
    background-color:rgb(219, 214, 214);
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px
}

h2{
    text-align:center;
    margin-top:20px;
  
}
.btn,a{
    text-decoration:none;
}